{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Оценка по видео {% endblock %}</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <form method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                      <label for="method">Метод обнаружения</label>
                      <select class="form-control" name="method">
                        <option>xception_uadfv</option>
                        <option>xception_celebdf</option>
                        <option>xception_dfdc</option>
                        <option>mesonet_uadfv</option>
                        <option>mesonet_celebdf</option>
                        <option>mesonet_dfdc</option>
                        <option>mesonet_dftimit_hq</option>
                        <option>mesonet_dftimit_lq</option>
                        <option>resnet_lstm_uadfv</option>
                        <option>resnet_lstm_celebdf</option>
                        <option>resnet_lstm_dftimit_hq</option>
                        <option>resnet_lstm_dftimit_lq</option>
                        <option>resnet_lstm_dfdc</option>
                        <option>efficientnetb1_lstm_uadfv</option>
                        <option>efficientnetb1_lstm_celebdf</option>
                        <option>efficientnetb1_lstm_dftimit_hq</option>
                        <option>efficientnetb1_lstm_dftimit_lq</option>
                        <option>efficientnetb1_lstm_dfdc</option>
                        <option>efficientnetb7_lstm_uadfv</option>
                        <option>efficientnetb7_lstm_celebdf</option>
                        <option>efficientnetb7_lstm_dftimit_hq</option>
                        <option>efficientnetb7_lstm_dftimit_lq</option>
                        <option>efficientnetb7_lstm_dfdc</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="video">Видео</label>
                        <input type="file" class="form-control-file" id="video" name="video">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="type" id="is_fake" value="is_fake">
                        <label class="form-check-label" for="is_fake">
                          Фейк
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="type" id="is_real" value="is_real">
                        <label class="form-check-label" for="is_real">
                          Оригинал
                        </label>
                      </div>
                    <button type="submit" class="btn btn-primary">Оценить</button>
                  </form>
                  {% if prediction %}
                    <div>{{ prediction }}</div>
                  {% endif %}
            </div>
        </div>
    </div>
{% endblock %}